html
{
	height: 100%;
}


body
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1000px;
	background: url("Imran_Edinburgh.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 0;
}

.wheatherForecast
{
	position: center center;
}

.navbar
{
	position: relative;
	top: 0px;
	left: 50%;
	width: 706px;
	height: 50px;
 	margin-left:-290px;
	z-index: 1;
}

.navbarbox
{
	background-color: green;
	width: 150px;
	height: 50px;
	float: left;
	margin: 1px;
	z-index: 2;	
}

.mainSection
{
	margin: 10px;
	position: relative;
	left:15%;
	background-color: #23BE83;
	color: blue;
	width: 70%;
	height: inherit;
	display: none;
	opacity: 0.85;
	z-index: 1;
}

#header
{
	font-size: 60px;
	position: relative;
	left: 50%;
	margin-left: -160px;
	z-index: 0;
}

.navtext
{
	position: relative;
	top: 20%;
	left: 20%;
	margin-top: 8px;
	margin-left: 13px;
	z-index: 3;
}
